# Authentication
NIKKO_CHROME_USERNAME=admin
NIKKO_CHROME_PASSWORD=secret

# Server Port
PORT=3000

# REST API Settings
REST_API=false
REST_API_KEY=super-secret

# Daemon / run.sh Settings
RUN_IN_SCREEN=false
SESSION_NAME=chrome-fleet
AUTO_INSTALL=false

# Pop up real browser? 
# If true, launches GUI. If false, launches headless.
POP_UP_REAL_BROWSER=false

# Advanced Chrome Manager Variables (Optional)
# CHROME_MANAGER_ENABLE_WEBGL=1
